// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./popup.scss";
@import "./card.scss";
@import "./style-dark.scss";
@import "./popup-dark.scss";
@import "./card-dark.scss";

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    header {
        height: 70px;
        display: flex;
        background-color: #F9E45B;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    footer {
        height: 50px;
        display: flex;
        flex-direction: column;
        background-color: #F9E45B;
        justify-content: center;
        align-items: center;
        .credits {
        font-size: 0.75rem;
        }
    }
    main {
        flex: 1;
    }
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// theme-switch

.theme-switch {
    margin-right: 10px;
}
.sun-mood, .moon-mood {
    display: flex;
    flex-direction: row;
}

.moon-mood {
    margin-top: 5px;
}
.mood-text {
    font-size: 0.7rem;
    margin-left: 4px;
}

.round-btn-sun {
    border-radius: 50%;
    background-color: #F9E45B;
    border: 2px solid #1B4D89;
    width: 20px;
    height: 20px;
    
}

.round-btn-moon {
    border-radius: 50%;
    background-color: #1B4D89;
    // border: 4px solid #F9E45B;
    width: 15px;
    height: 15px;
    margin-left: 2px;
}


.content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "filter-bar"
        "switch-type"
        "products"
}

.cards-container {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-content: space-around;
    // align-items: flex-start;
    // justify-content: flex-start;
  }

.filter-bar {
    grid-area: filter-bar;
}

.switch-type {
    grid-area: switch-type;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
    margin-top: 1rem;
}

.switcher {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products {
    grid-area: products;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.logo {
    height: 65px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.button-group button {
    margin-left: 10px;
    // width: 100px;
    // height: 30px;
}

.add-button-group {
    display: flex;
    align-items: center;
}

.add-button {
    border-radius: 50%;
    background-color: #6DB784;
    width: 50px;
    height: 50px;
    // padding: 0px;
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 5px;
    // text-align: center;
    // text-decoration: none;
}



.add-product-text {
    display: none;
    margin: 0px;
}

// .switch-cards {
//     background-color: #1B4D89;
// }

.form-switch .form-check-input {
    height: 20px;
    width: 40px;
}
.form-switch .form-check-input:focus {
    border-color: #1B4D89;
    background-color:  #1B4D89;
    outline: 0;
    box-shadow: 0 0 0 0 red;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #1B4D89;
    border-color: #1B4D89;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.submit-button {
    background-color: #6DB784;
    margin-top: 20px;
    color: black;
    border: none;
    margin-top: 20px;
    margin-left: 140px;
}


.submit-button:hover {
    background-color: #F9E45B;
    margin-top: 20px;
    color: black;
}

.save-button {
    background-color: #6DB784;
    margin-top: 20px;
    margin-left: 45px;
    border: none;
    color: black;
}
.save-button:hover {
    background-color: #F9E45B;
    border: none;
    color: black;
}

.delete-button {
    background-color: #FF0000;
    border: none;
}

.all-stock {
    background-color: white;
    border: 4px solid #6DB784;
    color: black;
}
.all-stock:hover {
    color: black;
    background-color: #F9E45B;
    border-color: #F9E45B;
    outline: none;
    box-shadow: none;
  }
.all .all-stock {
    background-color:  #6DB784;
    color: black;
    border: 4px solid #6DB784;
}
.low-stock {
    background-color: white;
    border: 4px solid #FFA500;
    color: black;
}

.low-stock:hover {
    color: black;
    background-color: #F9E45B;
    border-color: #F9E45B;
    outline: none;
    box-shadow: none;
  }

.low .low-stock {
    background-color:  #FFA500;
    color: black;
    border: 4px solid #FFA500;
}
.no-stock {
    background-color: white;
    border: 4px solid #FF0000;
    color: black;
    box-shadow: #FF0000;
}

.no-stock:hover {
    color: black;
    background-color: #F9E45B;
    border-color: #F9E45B;
    outline: none;
    box-shadow: none;
  }


.no .no-stock {
    background-color:  #FF0000;
    color: black;
    border: 4px solid #FF0000;
}


// table
.table-image {
    // width: 30px;
    height: 30px;
}

.table-pen-icon {
    width: 15px;
}

.table-cross-icon {
    margin-left: 5px;
    width: 15px;
}


/*  landscape mobile */
@media (min-width:769px) {
    .content {
        grid-template-columns: 1fr 4fr !important; 
        grid-gap:30px;
        grid-template-areas:
            ". switch-type"
            "filter-bar products"
    }
    .button-group {
        display: flex;
        flex-direction: column;
        margin-top: 10px; 
    }
    .button-group button {
        margin-bottom: 10px; 
    }

    .add-product-text {
        display: block;
    }

    .table-pen-icon {
        width: 25px;
    }
    
    .table-cross-icon {
        margin-left: 10px;
        width: 25px;
    }
}

/* tablet, */
@media (min-width:1024px) {

}

/* desktop */
@media (min-width: 1280px) {


  }

  