// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./popup.scss";
@import "./card.scss";

.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    header {
        height: 70px;
        display: flex;
        background-color: #F9E45B;
        flex-direction: row;
        align-items: center;
    }
    footer {
        height: 50px;
    }
    main {
        flex: 1;
    }
}

.content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "filter-bar"
        "switch-type"
        "products"
}

.cards-container {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-content: space-around;
    // align-items: flex-start;
    // justify-content: flex-start;
  }

.filter-bar {
    grid-area: filter-bar;
}

.switch-type {
    grid-area: switch-type;
}

.products {
    grid-area: products;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.logo {
    height: 65px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.button-group button {
    margin-left: 10px;
    // width: 100px;
    // height: 30px;
}
.switch-type {
    margin-top: 1rem;
}

.add-button {
    border-radius: 50%;
    background-color: #6DB784;
    width: 50px;
    height: 50px;
    // padding: 0px;
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 5px;
    // text-align: center;
    // text-decoration: none;
}

.submit-button {
    background-color: #6DB784;
    margin-top: 20px;
}

.all-stock {
    background-color: #6DB784;
}
.low-stock {
    background-color: #FFA500;
}
.no-stock {
    background-color: #FF0000;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #F9E45B;
    justify-content: center;
    align-items: center;
    .credits {
        font-size: 0.75rem;
    }
}



//Sun theme
.page-wrapper .header {
    background-color: #F9E45B;
}



/*  landscape mobile */
@media (min-width:769px) {
    .content {
        grid-template-columns: 1fr 4fr !important; 
        grid-gap:30px;
        grid-template-areas:
            ". switch-type"
            "filter-bar products"
    }
    .button-group {
        display: flex;
        flex-direction: column;
        margin-top: 50px; 
    }
    .button-group button {
        margin-bottom: 10px; 
    }

}

/* tablet, */
@media (min-width:1024px) {

}

/* desktop */
@media (min-width: 1280px) {


  }

  