@import "../node_modules/bootstrap/scss/bootstrap.scss";

.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    header {
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    footer {
        height: 50px;
    }
    main {
        flex: 1;
    }
}

.content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "filter-bar"
        "switch-type"
        "products"
}

.filter-bar {
    grid-area: filter-bar;
}

.switch-type {
    grid-area: switch-type;
}

.products {
    grid-area: products;
}

.logo {
    height: 65px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-group button {
    margin-left: 5px;
    // width: 100px;
    // height: 30px;
}


.main-footer {
    display: inline-flex;
    background-color: #F9E45B;
    justify-content: center;
    align-items: center;
}

.credits {
    white-space: pre;
}

//Sun theme
.page-wrapper .header {
    background-color: #F9E45B;
}


.popup-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bacground-color: #F9E45B;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-wrapper {
    width: 95vw;
    min-height: 730px;
    height: 55vh;
    background-color: white;
    position: relative;
}
.popup-content {
    padding: 50px;
}
.popup-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: 1px solid #F9E45B;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*  landscape mobile */
@media (min-width:769px) {
    .content {
        grid-template-columns: 1fr 4fr !important; 
        grid-gap:30px;
        grid-template-areas:
            ". switch-type"
            "filter-bar products"
    }
    .button-group {
        display: flex;
        flex-direction: column;
        margin-top: 50px; 
    }
    .button-group button {
        margin-bottom: 5px; 
    }
    .popup-wrapper {
        width: 70vw;
    }
}

/* tablet, */
@media (min-width:1024px) {
    .popup-wrapper {
        max-width: 950px;
    }
}

/* desktop */
@media (min-width: 1280px) {
    .popup-wrapper {
        max-width: 1100px;;
    }

  }

  